Disciplina: **Mineração de Dados**

Professor: **Wilson Castello Branco Neto**

Aula 4 - Conhecendo os Dados - Atividade Salário

Nome: Wilson Castello Branco Neto

**Dataset**: Salary dataset based on country and race

Disponível em: https://www.kaggle.com/datasets/sudheerp2147234/salary-dataset-based-on-country-and-race

Após executar a célula abaixo, que lê o dataset utilizado no notebook elaborado na Aula 3 - Atividade 1 e executa os passos já implementados na aula passada, implemente as seguintes funções solicitadas. Sempre que for solicitada a criação de um gráfico, deve-se gerar duas versões do mesmo gráfico, uma usando o matplotlib e outra usando o seaborn.

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
from google.colab import drive

drive.mount('/content/gdrive')
df = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Mineração de Dados/Aula3/Salary_Data_Based_country_and_race.csv')
df.drop('Unnamed: 0',axis=1, inplace=True)
df.dropna(inplace=True)
df.drop_duplicates(inplace=True)
li = df['Salary'].mean() - 2 * df['Salary'].std()
ls = df['Salary'].mean() + 2 * df['Salary'].std()
df = df[(df['Salary']>=li) & (df['Salary']<=ls)]
df = df[(df['Age'] - df['Years of Experience'])>=16]
df.loc[df['Education Level'] == 'phD', 'Education Level'] = 'PhD'
df.loc[df['Education Level'] == "Bachelor's Degree", 'Education Level'] = "Bachelor's"
df.loc[df['Education Level'] == "Master's Degree",'Education Level'] = "Master's"

df

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

,Age,Gender,Education Level,Job Title,Years of Experience,Salary,Country,Race
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0,UK,White
1,28.0,Female,Master's,Data Analyst,3.0,65000.0,USA,Hispanic
2,45.0,Male,PhD,Senior Manager,15.0,150000.0,Canada,White
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0,USA,Hispanic
4,52.0,Male,Master's,Director,20.0,200000.0,USA,Asian
...,...,...,...,...,...,...,...,...
6698,37.0,Male,Bachelor's,Junior Sales Representative,6.0,75000.0,Canada,Asian
6699,49.0,Female,PhD,Director of Marketing,20.0,200000.0,UK,Mixed
6700,32.0,Male,High School,Sales Associate,3.0,50000.0,Australia,Australian
6701,30.0,Female,Bachelor's,Financial Manager,4.0,55000.0,China,Chinese
6702,46.0,Male,Master's,Marketing Manager,14.0,140000.0,China,Korean

1.  Apresente as estatísticas básicas das variáveis quantitativas usando o método describe do dataframe.

2.  Calcule das estatísticas básicas do atributo idade (Age) usando as funções do Pandas e compare com as geradas pelo método describe.

3.  Crie o histograma de frequência para as variáveis Idade (Age) e Salário (Salary), usando a fórmula de Sturges.

4. Crie o boxplot para as colunas idade e salário e verifique se elas possuem algum outlier.

5. Calcule o coeficiente de correlação (pearson) entre todas as variáveis quantitativas e analise o seu resultado. Apresente também o mapa de calor.

6. Elabore o diagrama de dispersão para mostras as relações abaixo e analise os resultados, comparando com os coeficientes de correlação calculados anteriormente.


*   Idade - Tempo de Experiência
*   Idade - Salário
*   Tempo de Experiência e Salário.

7. Apresente a quantidade de pessoas de cada nível educacional (tabela e gráfico de colunas).

8. Apresente a quantidade de pessoas por por raça (apenas o gráfico de barras)

9. Apresente a quantidade de pessoas por país (apenas o gráfico de pizza)

10. Apresente o salário médio agrupado por gênero (tabela e gráfico de barras)

11. Apresente o salário médio agrupado por nível educacional e gênero (tabela e gráfico de colunas) e agrupado pelos mesmos campos, porém na ordem inversa.