Disciplina: **Mineração de Dados**

Professor: **Wilson Castello Branco Neto**

Aula 3 - Limpeza de Dados

Nome: Wilson Castello Branco Neto

**Dataset**: Mammographic Mass

Disponível em: https://archive.ics.uci.edu/dataset/161/mammographic+mass

Atributos:
1. BI-RADS assessment: 1 to 5 (ordinal, non-predictive!)  
2. Age: patient's age in years (integer)
3. Shape: mass shape: round=1 oval=2 lobular=3 irregular=4 (nominal)
4. Margin: mass margin: circumscribed=1 microlobulated=2 obscured=3 ill-defined=4 spiculated=5 (nominal)
5. Density: mass density high=1 iso=2 low=3 fat-containing=4 (ordinal)
6. Severity: benign=0 or malignant=1 (binominal, goal field!)

**1 - Valores Ausentes**

**1.1 - Eliminação**

In [ ]:
import pandas as pd
import numpy as np
from google.colab import drive

In [ ]:
drive.mount('/content/gdrive')
df = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Mineração de Dados/Aula3/mammographic_masses.data',
                    names=['BI_RADS','Idade','Forma','Contorno','Densidade','Severidade'])

df

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

    BI_RADS Idade Forma Contorno Densidade  Severidade
0         5    67     3        5         3           1
1         4    43     1        1         ?           1
2         5    58     4        5         3           1
3         4    28     1        1         3           0
4         5    74     1        5         ?           1
..      ...   ...   ...      ...       ...         ...
956       4    47     2        1         3           0
957       4    56     4        5         3           1
958       4    64     4        5         3           0
959       5    66     4        5         3           1
960       4    62     3        3         3           0

[961 rows x 6 columns]

In [ ]:
df.dtypes

BI_RADS       object
Idade         object
Forma         object
Contorno      object
Densidade     object
Severidade     int64
dtype: object

In [ ]:
df.describe(include="all")

       BI_RADS Idade Forma Contorno Densidade  Severidade
count      961   961   961      961       961  961.000000
unique       8    74     5        6         5         NaN
top          4    59     4        1         3         NaN
freq       547    36   400      357       798         NaN
mean       NaN   NaN   NaN      NaN       NaN    0.463059
std        NaN   NaN   NaN      NaN       NaN    0.498893
min        NaN   NaN   NaN      NaN       NaN    0.000000
25%        NaN   NaN   NaN      NaN       NaN    0.000000
50%        NaN   NaN   NaN      NaN       NaN    0.000000
75%        NaN   NaN   NaN      NaN       NaN    1.000000
max        NaN   NaN   NaN      NaN       NaN    1.000000

In [ ]:
df[df=='?'] = np.NaN
print(df)

    BI_RADS Idade Forma Contorno Densidade  Severidade
0         5    67     3        5         3           1
1         4    43     1        1       NaN           1
2         5    58     4        5         3           1
3         4    28     1        1         3           0
4         5    74     1        5       NaN           1
..      ...   ...   ...      ...       ...         ...
956       4    47     2        1         3           0
957       4    56     4        5         3           1
958       4    64     4        5         3           0
959       5    66     4        5         3           1
960       4    62     3        3         3           0

[961 rows x 6 columns]

In [ ]:
df2 = df.astype(float)

print(df2)

     BI_RADS  Idade  Forma  Contorno  Densidade  Severidade
0        5.0   67.0    3.0       5.0        3.0         1.0
1        4.0   43.0    1.0       1.0        NaN         1.0
2        5.0   58.0    4.0       5.0        3.0         1.0
3        4.0   28.0    1.0       1.0        3.0         0.0
4        5.0   74.0    1.0       5.0        NaN         1.0
..       ...    ...    ...       ...        ...         ...
956      4.0   47.0    2.0       1.0        3.0         0.0
957      4.0   56.0    4.0       5.0        3.0         1.0
958      4.0   64.0    4.0       5.0        3.0         0.0
959      5.0   66.0    4.0       5.0        3.0         1.0
960      4.0   62.0    3.0       3.0        3.0         0.0

[961 rows x 6 columns]

In [ ]:
df2.dtypes

BI_RADS       float64
Idade         float64
Forma         float64
Contorno      float64
Densidade     float64
Severidade    float64
dtype: object

In [ ]:
df2.describe(include="all")

          BI_RADS       Idade       Forma    Contorno   Densidade  Severidade
count  959.000000  956.000000  930.000000  913.000000  885.000000  961.000000
mean     4.348279   55.487448    2.721505    2.796276    2.910734    0.463059
std      1.783031   14.480131    1.242792    1.566546    0.380444    0.498893
min      0.000000   18.000000    1.000000    1.000000    1.000000    0.000000
25%      4.000000   45.000000    2.000000    1.000000    3.000000    0.000000
50%      4.000000   57.000000    3.000000    3.000000    3.000000    0.000000
75%      5.000000   66.000000    4.000000    4.000000    3.000000    1.000000
max     55.000000   96.000000    4.000000    5.000000    4.000000    1.000000

In [ ]:
nulos = pd.isnull(df2).sum()
print(nulos)

BI_RADS        2
Idade          5
Forma         31
Contorno      48
Densidade     76
Severidade     0
dtype: int64

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 961 entries, 0 to 960
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   BI_RADS     959 non-null    float64
 1   Idade       956 non-null    float64
 2   Forma       930 non-null    float64
 3   Contorno    913 non-null    float64
 4   Densidade   885 non-null    float64
 5   Severidade  961 non-null    float64
dtypes: float64(6)
memory usage: 45.2 KB

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

X = df.drop(['Severidade'] ,axis='columns')
y = df['Severidade']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42, shuffle=True)
modelo = DecisionTreeClassifier(criterion='entropy', max_depth=5, random_state=0)
modelo.fit(X_train, y_train)
y_pred = modelo.predict(X_test)
acc = accuracy_score(y_test, y_pred)
print("Acurácia: ", acc)

ValueError: ignored

Por padrão o método dropna apaga todas as linhas que contenham pelo menos um registro com valor ausente. Para alterar o comportamento desta função pode-se usar os seguintes parâmetros:


1.   **how='all'**: apaga apenas as linhas que tenham todos os atributos ausentes.
2.   **thresh=3**: apaga apenas as linhas que tenham n ou mais campos ausentes, neste caso 3.
3.   **subset=['Forma' , 'Contorno']**: apaga apenas as linhas que tenham os valores dos atributos Forma e Contorno em branco.

In [ ]:
df2 = df.dropna()
print(df2)

    BI_RADS Idade Forma Contorno Densidade  Severidade
0         5    67     3        5         3           1
2         5    58     4        5         3           1
3         4    28     1        1         3           0
8         5    57     1        5         3           1
10        5    76     1        4         3           1
..      ...   ...   ...      ...       ...         ...
956       4    47     2        1         3           0
957       4    56     4        5         3           1
958       4    64     4        5         3           0
959       5    66     4        5         3           1
960       4    62     3        3         3           0

[830 rows x 6 columns]

In [ ]:
df2.Idade = df2.Idade.astype(int)
df2.Severidade = df2.Severidade.astype(str)

<ipython-input-18-9b91fc175d01>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.Idade = df2.Idade.astype(int)
<ipython-input-18-9b91fc175d01>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.Severidade = df2.Severidade.astype(str)

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 830 entries, 0 to 960
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   BI_RADS     830 non-null    object
 1   Idade       830 non-null    int64
 2   Forma       830 non-null    object
 3   Contorno    830 non-null    object
 4   Densidade   830 non-null    object
 5   Severidade  830 non-null    object
dtypes: int64(1), object(5)
memory usage: 45.4+ KB

In [ ]:
df2.describe(include="all")

       BI_RADS       Idade Forma Contorno Densidade Severidade
count      830  830.000000   830      830       830        830
unique       7         NaN     4        5         4          2
top          4         NaN     4        1         3          0
freq       468         NaN   379      320       755        427
mean       NaN   55.781928   NaN      NaN       NaN        NaN
std        NaN   14.671782   NaN      NaN       NaN        NaN
min        NaN   18.000000   NaN      NaN       NaN        NaN
25%        NaN   46.000000   NaN      NaN       NaN        NaN
50%        NaN   57.000000   NaN      NaN       NaN        NaN
75%        NaN   66.000000   NaN      NaN       NaN        NaN
max        NaN   96.000000   NaN      NaN       NaN        NaN

In [ ]:
nulos = pd.isnull(df2).sum()
print(nulos)

BI_RADS       0
Idade         0
Forma         0
Contorno      0
Densidade     0
Severidade    0
dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

X = df2.drop(['Severidade'] ,axis='columns')
y = df2['Severidade']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42, shuffle=True)
modelo = DecisionTreeClassifier(criterion='entropy', max_depth=5, random_state=0)
modelo.fit(X_train, y_train)
y_pred = modelo.predict(X_test)
acc = accuracy_score(y_test, y_pred)
print("Acurácia: ", acc)

Acurácia:  0.7992700729927007

**1 - Valores Ausentes**

**1.2 - Atribuição de valor Fixo**

In [ ]:
print("Dataframe com valores nulos")
print(df.head(10))

df3 = df.fillna(1)
df3.Idade = df3.Idade.astype(int)
df3.Severidade = df3.Severidade.astype(str)

print("\n\nDataframe com valores nulos substituídos por 1")
print(df3.head(10))

Dataframe com valores nulos
  BI_RADS Idade Forma Contorno Densidade  Severidade
0       5    67     3        5         3           1
1       4    43     1        1       NaN           1
2       5    58     4        5         3           1
3       4    28     1        1         3           0
4       5    74     1        5       NaN           1
5       4    65     1      NaN         3           0
6       4    70   NaN      NaN         3           0
7       5    42     1      NaN         3           0
8       5    57     1        5         3           1
9       5    60   NaN        5         1           1


Dataframe com valores nulos substituídos por 1
  BI_RADS  Idade Forma Contorno Densidade Severidade
0       5     67     3        5         3          1
1       4     43     1        1         1          1
2       5     58     4        5         3          1
3       4     28     1        1         3          0
4       5     74     1        5         1          1
5       4     65     1        1         3          0
6       4     70     1        1         3          0
7       5     42     1        1         3          0
8       5     57     1        5         3          1
9       5     60     1        5         1          1

In [ ]:
nulos = pd.isnull(df3).sum()
print(nulos)

BI_RADS       0
Idade         0
Forma         0
Contorno      0
Densidade     0
Severidade    0
dtype: int64

In [ ]:
df.describe(include="all")

       BI_RADS Idade Forma Contorno Densidade  Severidade
count      959   956   930      913       885  961.000000
unique       7    73     4        5         4         NaN
top          4    59     4        1         3         NaN
freq       547    36   400      357       798         NaN
mean       NaN   NaN   NaN      NaN       NaN    0.463059
std        NaN   NaN   NaN      NaN       NaN    0.498893
min        NaN   NaN   NaN      NaN       NaN    0.000000
25%        NaN   NaN   NaN      NaN       NaN    0.000000
50%        NaN   NaN   NaN      NaN       NaN    0.000000
75%        NaN   NaN   NaN      NaN       NaN    1.000000
max        NaN   NaN   NaN      NaN       NaN    1.000000

In [ ]:
df3.describe(include="all")

       BI_RADS       Idade Forma Contorno Densidade Severidade
count      961  961.000000   961      961       961        961
unique       8         NaN     5        6         5          2
top          4         NaN     4        1         3          0
freq       547         NaN   400      357       798        516
mean       NaN   55.203954   NaN      NaN       NaN        NaN
std        NaN   14.965447   NaN      NaN       NaN        NaN
min        NaN    1.000000   NaN      NaN       NaN        NaN
25%        NaN   45.000000   NaN      NaN       NaN        NaN
50%        NaN   57.000000   NaN      NaN       NaN        NaN
75%        NaN   66.000000   NaN      NaN       NaN        NaN
max        NaN   96.000000   NaN      NaN       NaN        NaN

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

X = df3.drop(['Severidade'] ,axis='columns')
y = df3['Severidade']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42, shuffle=True)
modelo = DecisionTreeClassifier(criterion='entropy', max_depth=5, random_state=0)
modelo.fit(X_train, y_train)
y_pred = modelo.predict(X_test)
acc = accuracy_score(y_test, y_pred)
print("Acurácia: ", acc)

Acurácia:  0.8176100628930818

**1 - Valores Ausentes**

**1.3 - Atribuição de valor conforme a última observação**

In [ ]:
print("Dataframe com valores nulos")
print(df.head(10))

df4 = df.fillna(method='ffill')

print("\n\nDataframe com valores nulos substituídos pela moda e média de cada coluna")
print(df4.head(10))

Dataframe com valores nulos
  BI_RADS Idade Forma Contorno Densidade  Severidade
0       5    67     3        5         3           1
1       4    43     1        1       NaN           1
2       5    58     4        5         3           1
3       4    28     1        1         3           0
4       5    74     1        5       NaN           1
5       4    65     1      NaN         3           0
6       4    70   NaN      NaN         3           0
7       5    42     1      NaN         3           0
8       5    57     1        5         3           1
9       5    60   NaN        5         1           1


Dataframe com valores nulos substituídos pela moda e média de cada coluna
  BI_RADS Idade Forma Contorno Densidade  Severidade
0       5    67     3        5         3           1
1       4    43     1        1         3           1
2       5    58     4        5         3           1
3       4    28     1        1         3           0
4       5    74     1        5         3           1
5       4    65     1        5         3           0
6       4    70     1        5         3           0
7       5    42     1        5         3           0
8       5    57     1        5         3           1
9       5    60     1        5         1           1

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

X = df4.drop(['Severidade'] ,axis='columns')
y = df4['Severidade']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42, shuffle=True)
modelo = DecisionTreeClassifier(criterion='entropy', max_depth=5, random_state=0)
modelo.fit(X_train, y_train)
y_pred = modelo.predict(X_test)
acc = accuracy_score(y_test, y_pred)
print("Acurácia: ", acc)

Acurácia:  0.789308176100629

**1 - Valores Ausentes**

**1.5 - Atribuição de valor da média ou moda de cada coluna**

In [ ]:
print("Dataframe com valores nulos")
print(df.head(10))

df.Idade = df.Idade.astype(float)

birads_md =df['BI_RADS'].mode()
idade_md = df['Idade'].mean()
forma_md = df['Forma'].mode()
contorno_md = df['Contorno'].mode()
densidade_md = df['Densidade'].mode()

dic = {'BI_RADS': birads_md[0], 'Idade': idade_md, 'Forma': forma_md[0], 'Contorno': contorno_md[0], 'Densidade': densidade_md[0] }
print("Dicionário com os nomes das colunas e os valores da média e moda de cada uma dela")
print(dic)

df5 = df.fillna(dic)

print("\n\nDataframe com valores nulos substituídos pela moda e média de cada coluna")
print(df5.head(10))

Dataframe com valores nulos
  BI_RADS Idade Forma Contorno Densidade  Severidade
0       5    67     3        5         3           1
1       4    43     1        1       NaN           1
2       5    58     4        5         3           1
3       4    28     1        1         3           0
4       5    74     1        5       NaN           1
5       4    65     1      NaN         3           0
6       4    70   NaN      NaN         3           0
7       5    42     1      NaN         3           0
8       5    57     1        5         3           1
9       5    60   NaN        5         1           1
Dicionário com os nomes das colunas e os valores da média e moda de cada uma dela
{'BI_RADS': '4', 'Idade': 55.48744769874477, 'Forma': '4', 'Contorno': '1', 'Densidade': '3'}


Dataframe com valores nulos substituídos pela moda e média de cada coluna
  BI_RADS  Idade Forma Contorno Densidade  Severidade
0       5   67.0     3        5         3           1
1       4   43.0     1        1         3           1
2       5   58.0     4        5         3           1
3       4   28.0     1        1         3           0
4       5   74.0     1        5         3           1
5       4   65.0     1        1         3           0
6       4   70.0     4        1         3           0
7       5   42.0     1        1         3           0
8       5   57.0     1        5         3           1
9       5   60.0     4        5         1           1

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

X = df5.drop(['Severidade'] ,axis='columns')
y = df5['Severidade']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42, shuffle=True)
modelo = DecisionTreeClassifier(criterion='entropy', max_depth=5, random_state=0)
modelo.fit(X_train, y_train)
y_pred = modelo.predict(X_test)
acc = accuracy_score(y_test, y_pred)
print("Acurácia: ", acc)

Acurácia:  0.8238993710691824

**2. Dados com ruído**

**2.1 Eliminação de valores fora dos limites**

In [ ]:
df5.describe(include='all')

       BI_RADS       Idade Forma Contorno Densidade  Severidade
count      961  961.000000   961      961       961  961.000000
unique       7         NaN     4        5         4         NaN
top          4         NaN     4        1         3         NaN
freq       549         NaN   431      405       874         NaN
mean       NaN   55.487448   NaN      NaN       NaN    0.463059
std        NaN   14.442373   NaN      NaN       NaN    0.498893
min        NaN   18.000000   NaN      NaN       NaN    0.000000
25%        NaN   45.000000   NaN      NaN       NaN    0.000000
50%        NaN   57.000000   NaN      NaN       NaN    0.000000
75%        NaN   66.000000   NaN      NaN       NaN    1.000000
max        NaN   96.000000   NaN      NaN       NaN    1.000000

In [ ]:
df5[(df5['Idade']>90) | (df5['Idade']<20)]

    BI_RADS  Idade Forma Contorno Densidade  Severidade
182       4   19.0     1        1         3           0
463       4   18.0     1        1         3           0
616       5   93.0     1        5         3           1
711       4   19.0     1        1         3           0
726       5   96.0     3        4         3           1
847       4   19.0     3        1         3           0
869       4   19.0     1        1         3           0

In [ ]:
df6 = df5[(df5['Idade']<=90) & (df5['Idade']>=20)]

df6.describe(include='all')

       BI_RADS       Idade Forma Contorno Densidade  Severidade
count      954  954.000000   954      954       954  954.000000
unique       7         NaN     4        5         4         NaN
top          4         NaN     4        1         3         NaN
freq       544         NaN   431      400       867         NaN
mean       NaN   55.597943   NaN      NaN       NaN    0.464361
std        NaN   14.136499   NaN      NaN       NaN    0.498990
min        NaN   20.000000   NaN      NaN       NaN    0.000000
25%        NaN   45.250000   NaN      NaN       NaN    0.000000
50%        NaN   57.000000   NaN      NaN       NaN    0.000000
75%        NaN   66.000000   NaN      NaN       NaN    1.000000
max        NaN   88.000000   NaN      NaN       NaN    1.000000

**2. Dados com ruído**

**2.2 Eliminação de outliers considerando a média e o desvio padrão**

In [ ]:
df5.describe(include='all')

       BI_RADS       Idade Forma Contorno Densidade  Severidade
count      961  961.000000   961      961       961  961.000000
unique       7         NaN     4        5         4         NaN
top          4         NaN     4        1         3         NaN
freq       549         NaN   431      405       874         NaN
mean       NaN   55.487448   NaN      NaN       NaN    0.463059
std        NaN   14.442373   NaN      NaN       NaN    0.498893
min        NaN   18.000000   NaN      NaN       NaN    0.000000
25%        NaN   45.000000   NaN      NaN       NaN    0.000000
50%        NaN   57.000000   NaN      NaN       NaN    0.000000
75%        NaN   66.000000   NaN      NaN       NaN    1.000000
max        NaN   96.000000   NaN      NaN       NaN    1.000000

In [ ]:
limite_inferior = df5['Idade'].mean() - 3 * df5['Idade'].std()
limite_superior = df5['Idade'].mean() + 3 * df5['Idade'].std()

print('Limite inferior:',limite_inferior)
print('Limite superior:',limite_superior)

print(df5[(df5['Idade']>limite_superior) | (df5['Idade']<limite_inferior)])

Limite inferior: 12.160329021568579
Limite superior: 98.81456637592095
Empty DataFrame
Columns: [BI_RADS, Idade, Forma, Contorno, Densidade, Severidade]
Index: []

**3. Dados duplicados**

**3.1 Eliminação de dados duplicados**

In [ ]:
quantidade = df5.duplicated().sum()
print("Quantidade de registros duplicados (todos os campos):",quantidade)

Quantidade de registros duplicados (todos os campos): 320

In [ ]:
df5.describe(include='all')

       BI_RADS       Idade Forma Contorno Densidade  Severidade
count      961  961.000000   961      961       961  961.000000
unique       7         NaN     4        5         4         NaN
top          4         NaN     4        1         3         NaN
freq       549         NaN   431      405       874         NaN
mean       NaN   55.487448   NaN      NaN       NaN    0.463059
std        NaN   14.442373   NaN      NaN       NaN    0.498893
min        NaN   18.000000   NaN      NaN       NaN    0.000000
25%        NaN   45.000000   NaN      NaN       NaN    0.000000
50%        NaN   57.000000   NaN      NaN       NaN    0.000000
75%        NaN   66.000000   NaN      NaN       NaN    1.000000
max        NaN   96.000000   NaN      NaN       NaN    1.000000

Por padrão, o método drop_duplicates apaga apenas as linhas que possuem todos os atributos iguais a outra. Pode-se usar o parâmetro **subset** para definir uma lista de atributos. Neste caso, os registros que possuam os mesmos valores nos atributos da lista serão apagados, independente dos valores dos demais atributos.

In [ ]:
quantidade = df5.duplicated().sum()
print("Existem {} linhas duplicadas\n".format(quantidade))

df6 = df5.drop_duplicates()
df6.describe(include='all')

Existem 320 linhas duplicadas

       BI_RADS       Idade Forma Contorno Densidade  Severidade
count      641  641.000000   641      641       641  641.000000
unique       7         NaN     4        5         4         NaN
top          4         NaN     4        1         3         NaN
freq       345         NaN   294      238       556         NaN
mean       NaN   55.776833   NaN      NaN       NaN    0.482059
std        NaN   14.811953   NaN      NaN       NaN    0.500068
min        NaN   18.000000   NaN      NaN       NaN    0.000000
25%        NaN   45.000000   NaN      NaN       NaN    0.000000
50%        NaN   57.000000   NaN      NaN       NaN    0.000000
75%        NaN   66.000000   NaN      NaN       NaN    1.000000
max        NaN   96.000000   NaN      NaN       NaN    1.000000

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

X = df6.drop(['Severidade'] ,axis='columns')
y = df6['Severidade']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42, shuffle=True)
modelo = DecisionTreeClassifier(criterion='entropy', max_depth=5, random_state=0)
modelo.fit(X_train, y_train)
y_pred = modelo.predict(X_test)
acc = accuracy_score(y_test, y_pred)
print("Acurácia: ", acc)

Acurácia:  0.7735849056603774